<%- include("partials/header") %>

<h1>Nicholas Cage is <%= adj %></h1>

<% if(adj === "beautiful") { %>
    <p>Of course</p>
<% }%>
<img src="https://upload.wikimedia.org/wikipedia/commons/0/09/NicolasCage.jpg">


<%- include("partials/footer") %>