h1 {
  color: red;
  /* border-color: purple;
  width: 5px;
  border-style: solid; */
  border: 4px dashed purple;
}

li {
  color: green;
}

h4 {
  color: purple;
  background: rgb(255, 100, 80);
}

body {
  background: url(https://images2.minutemediacdn.com/image/upload/c_crop,h_1193,w_2121,x_0,y_64/f_auto,q_auto,w_1100/v1565279671/shape/mentalfloss/578211-gettyimages-542930526.jpg);
  background-repeat: no-repeat;
  background-size: stretch;
}