p {
  /* content */
  width: 50%;
  
  /* border  */
  border: 2px solid blue;
  
  /* padding */
  padding-left: 10px;

  /* margin */
  /* margin: 30px; */
  /* margin-top: 30px */
  /* margin: 20px 40px 60px 80px; */
  margin: auto;
}
